.machine {
    text-align: center;
    display: flex;
    margin: auto
}

.machine1 {
    justify-content: space-between;
    width: 50%;
    display: flex;
    margin: auto
}

.sie_project {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
